<div id="sign-in-page">
  <button mat-icon-button color="primary" id="back" (click)="goToPage('')">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <h1 id="title">DENTALIO</h1>
  <h4 id="subtitle">Înregistrează-te pentru a face programări</h4>

  <button
    (click)="signinWithGoogle()"
    mat-raised-button
    class="google-login-btn"
  >
    Continuă cu Google
  </button>
  <button
    (click)="signinWithFacebook()"
    mat-raised-button
    class="facebook-login-btn"
  >
    Continuă cu Facebook
  </button>

  <p><span>sau</span></p>

  <button mat-raised-button class="mobile-login-btn"
  (click)="goToPage('sign-up-phone')"
  >
    Utilizează numărul de mobil
  </button>
  <button
    mat-button
    color="primary"
    id="sign-up-button"
    (click)="goToPage('sign-in')"
  >
    Aveți deja cont? Loghează-te aici
  </button>
</div>
