<!-- 
* TO DO:
* FIX THE OVERFLOW ISSUE  
-->
<div id="page">
  <h1 id="title">DENTALIO</h1>
  <h4 id="subtitle">Găsește dentistul potrivit pentru tine!</h4>

  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon> location_on</mat-icon>
        Alege locația
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum</p>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>
        Serviciul dorit
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum</p>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>calendar_today</mat-icon>
        Oricând
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Lorem Ipsum</p>
  </mat-expansion-panel>

  <button mat-raised-button color="primary">
    Descoperă cabinete în apropiere
  </button>

  <!-- <div id="left-align">
    <h4>Cabinete populare</h4>
    <h4>Beneficii</h4>
    <div class="benefit-div">
      <mat-icon>account_balance</mat-icon>
      <div class="benefit-text">
        <h5>Descoperă dentistul potrivit</h5>
        <p>
          Inspiră-te din galeriile de imagini, serviciile oferite in funcție de
          nevoile tale.
        </p>
      </div>
    </div>
    <div class="benefit-div">
      <mat-icon>access_time</mat-icon>
      <div class="benefit-text">
        <h5>Economisește timp</h5>
        <p>Programează-te in câteva minute la dentistul ales de tine.</p>
      </div>
    </div>
    <div class="benefit-div">
        <mat-icon>rate_review</mat-icon>
        <div class="benefit-text">
          <h5>Citește review-uri verificate</h5>
          <p>Programeaza-te in cateva minute la dentistul ales de tine.</p>
        </div>
      </div>
  </div> -->
</div>
